/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-grp {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    width: auto;
}

.radio-buttons {
    display: flex;
    align-items: center;
}

.radio-buttons label {
    margin-left: 10px;
}

.error {
    color: red;
    font-size: 12px;
}

.success-msg {
    color: green;
    font-size: 12px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.mr-input {
    background: rgba(255, 204, 204, 0.233);
    /* color: red; */
    /* outline: red; */
    border: red;
    border: .1px solid red;
}

.mr-input::placeholder {
    color: rgb(255, 101, 101);
}

.mr-input:focus {
    outline: .5px solid red;
}

.success {
    background: rgba(115, 255, 87, 0.233);
    /* color: red; */
    /* outline: red; */
    border: green;
    border: .1px solid green;
}

.success::placeholder {
    color: rgba(115, 255, 87, 0.233);
}

.success:focus {
    outline: green;
}

.pass-vali>li {
    padding-left: 25px;
    text-decoration: none;
    list-style: none;
}

.pass-vali {
    padding-top: 5px;
}

#terms {

    margin: 0;
    padding: 0;
    width: min-content;
}

.check-label {
    padding-left: 10px;
}

.check-error {
    display: none;
}

.data {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}